.content {

}

.footer {
  width: 100%;
  padding: 30px 20px;
  display: grid;
  color: var(--secondaryFg);

  p {
    opacity: 0.3;
  }

  @media (min-width: 500px) {
    .footer_content {
      width: 900px;
      margin: 0 auto;
      padding: 20px;
    }
  }

  @media (min-width: 999px) {
    .footer_content {
      padding: 20px;
    }
  }
}

.copyright {
  text-align: center;
}

.links {
  display: grid;
  place-items: center;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  li {
    margin-bottom: 0;
    font-weight: 500;
    transition: color 0.2s ease-out;

    &:hover,
    &:focus {
      color: var(--foreground);
    }
  }
}