@import "fonts";
@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--fontFamily);
}