:root {
  --background: #fafafa;
  --foreground: #365771;
  --secondaryFg: #365771a6;
  --secondaryBg: #fff;
  --shadow: 0 4px 4px 0 RGB(43 80 237 / 20%);
  --fontFamily: "GT Walsheim Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --specialColor: #6b21a8;
}

[data-theme="dark"] {
  --background: #091a28;
  --foreground: white;
  --secondaryFg: #afadad;
  --secondaryBg: #1f2937;
  --shadow: 0 4px 4px 0 RGB(31 41 55 / 20%);
}
